{% extends "index.html" %}
{% block nav %}

{% endblock %}
{% block content %}
<div class="d-flex justify-content-center mt-5">
   <form action="" method="post" class="shadow border p-5 w-50 bg-dark text-light">
    <h2 class="text-center">Add Stock</h2>
        {%csrf_token%}
        <label for="" class="form-label">Quantity</label >
        <input type="number" name="quantity" class="form-control">
        <label for="" class="form-label">Expiry Date</label>
        <input type="date" name="expiry_date" class="form-control">
        <label for="" class="form-label">Entry Number</label>
        <input type="number" name="entry_number" class="form-control">
        <input type="submit" class="btn btn-warning mt-4 mb-4 w-100" >
    </form>
</div>
{% endblock %}