{% extends 'index.html' %}
{% block content %}
<div class="d-flex justify-content-center mt-5">
<div class="card bg-dark text-light" style="width: 24rem;">
  <div class="card-body">
    <h2 class="card-title text-center text-danger">PRODUCT</h2> <hr>
    <h4 class="card-text text-center"><span class="me-2">Item Name:</span><u>{{item.item_name}}</u></h4>
    <p class="card-text text-center">Description:{{item.description}}</p>
    <p class="card-text text-center">Expiry:<i>{{item.has_expiry}}</i></p>
    <p class="card-text text-center">Entry Number:{{item.has_entry_number}}</p>
<div class="d-flex justify-content-center">
    <a href="{% url 'addStock_item' item.id %}" class="btn btn-danger">Add Stoke</a>

</div>
    
  </div>
</div>
</div>

{% endblock %}