{% extends "index.html" %}
{% block nav %}
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center mt-5 w-100">
    <table class="table table-bordered border-1 border-info w-75 bg-dark text-light ">
    <thead>
        <tr class="text-info p-4">
            <th>ITEM NAME</th>
            <th>DESCRIPTION</th>
            <th>QUANTITY</th>
            <th>EXPIRY DATE</th>
            <th>ENTRY NUMBER</th>
            <th>DATE</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for i in item %}
        <tr>
            <td>{{i.item.item_name}}</td>
            <td>{{i.item.description}}</td>
            <td>{{i.quantity}}</td>
            <td>{{i.expiry_date}}</td>
            <td>{{i.entry_number}}</td>
            <td>{{i.date}}</td>
            <td>
                <a href="{% url 'updateStock_item' i.id %}" class="btn btn-primary">Update</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}